.navbar-line {
  height: 2rem;
  border: 1px solid #999C9F;
  width: 0px;
  margin: 0 0 0 1rem;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-link {
  outline: none;
}

.btn-block {
  width: 100%;
  margin: 10px 0;
  text-align: left;
  line-height: 25px;
}

.btn-block i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

.btn-github {
  color: #fff;
  background-color: #555555;
  border-color: #555555;
}

.btn-github:hover {
  background-color: #333333;
  color: #fff;
}

.btn-gitlab {
  color: #fff;
  background-color: #fc6d26;
  border-color: #fc6d26;
}

.btn-gitlab:hover {
  background-color: #f16924;
  color: #fff;
}

.btn-meetup {
  color: #fff;
  background-color: #F65858;
  border-color: #F65858;
}

.btn-meetup:hover {
  background-color: #F42C2C;
  color: #fff;
}

#modalLogin .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

#modalLogin {
  background-color: rgba(247, 247, 247, 0.7);
}

.toast {
  background-color: white;
}

body {
    position: relative;
    margin: 0;
}

@media(min-width: 1000px) {
    body {
        height: 100%;
        min-height: 100vh;
        padding-bottom: 20rem;

    }
}

@media(min-width: 1000px) {
    .footer-position {
        bottom: 0px;
        position: absolute;
    }
}

#toast-container {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

section.header {
  color: #ffffff;
  background-image: url("/static/img/graph_blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

section.features {
  padding-top: 100px;
  padding-bottom: 100px;
}

section.technical-details {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ddd;
}

section.start-now {
  padding-top: 100px;
}

#carouselHeaderIndicators li {
  background-color: rgba(0, 0, 0, 0.8);
}

.header h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.header p {
    font-size: 24px;
}
