{% load static %}

{% url 'projectspage' as projectspage %}
{% url 'homepage' as homepage %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Software development analytics online tool by Bitergia">

  <!-- Cookie consent -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#edeff5",
        "text": "#838391"
      },
      "button": {
        "background": "#4b81e8"
      }
    },
    "showLink": false,
    "position": "bottom-right",
    "content": {
      "message": "This website uses cookies to remember your preferences, and to learn about how people are using the system."
    }
  })});
  </script>

  {% if google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{google_analytics_id}}');
  </script>
  {% endif %}

  <!-- SB Admin 2 styles -->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Awesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/smart-nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <!-- Favicon.ico -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
  {% block css%}
  {% endblock %}

  <title>Cauldron - Level Up Software Development Analytics</title>
</head>

<body>
  <!-- BEGIN NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mr-auto" href="{% url 'homepage' %}">
        <img src="{% static '/img/cauldron-logo-white.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Cauldron <sup class="badge badge-secondary">dijon</sup>
      </a>
      {% if authenticated %}
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto ml-3">
          <li class="nav-item {% ifequal request.path homepage %}active{% endifequal %}">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item {% ifequal request.path projectspage %}active{% endifequal %}">
            <a class="nav-link" href="{% url 'projectspage' %}">My Projects</a>
          </li>
        </ul>
      </div>
      {% endif %}
      <!--<ul class="navbar-nav flew-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a href="https://gitlab.com/cauldronio/cauldron" target="_blank" rel="noopener" aria-label="GitLab" class="nav-link p2">
            <i class="fab fa-gitlab"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/biterg_cauldron" target="_blank" rel="noopener" aria-label="Twitter" class="nav-link p2">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>-->

      <div class="navbar-line d-none"></div>

      {% if authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-text py-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span> {{ request.user.first_name }} </span>
          <img src="{{ photo_user }}" class="rounded-circle avatar">
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

          {% if request.user.is_superuser %}
          <a class="dropdown-item" href="{% url 'admin_page' %}">Admin page</a>
          {% endif %}
          {% if request.user.is_superuser and hatstall_url %}
          <a class="dropdown-item" href="{{ hatstall_url }}">Hatstall</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'projectspage' %}">My projects</a>
          <a class="dropdown-item" href="{% url 'profile:index' %}">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Log out</a>
          <!--<a class="dropdown-item" href="/profile">Profile</a>-->
        </div>
      </div>
      {% else %}
      <a class="btn btn-light d-block d-lg-inline-block mb-0 ml-md-3" href="#" data-toggle="modal" data-target="#modalLogin">
        Login
      </a>
      {% endif %}

    </div>
  </nav>
  <!-- END NAVBAR-->

  <!-- BEGIN Smart Nav-->
  <div id="cd-nav" class="is-fixed">
		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
		<nav id="cd-main-nav">
			<ul>
				<li><a href="https://community.cauldron.io/" target="_blank">Get Support</a></li>
				<li><a href="https://gitlab.com/cauldronio/cauldron/issues/new" target="_blank">Report an Issue</a></li>
				<li><a href="https://mailchi.mp/003f1e1f6242/cauldron-newsletter" target="_blank">Join the Newsletter</a></li>
			</ul>
		</nav>
	</div>
  <!-- END Smart Nav-->

  <!-- BEGIN Modal for login -->
  <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="col-12 text-center">Sign in</h3>
        </div>
        <div class="modal-body">

          <div class="text-center">
            <form action="{{ gh_uri_identity }}" method="GET">
              <input type="hidden" name="client_id" value="{{ gh_client_id }}">
              <button type="submit" class="btn btn-github btn-block" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-github"></i>
                Sign in with <b>GitHub</b>
              </button>
            </form>
          </div>

          <div class="text-center">
            <form action="{{ gl_uri_identity }}" method="GET">
              <input type="hidden" name="client_id" value="{{ gl_client_id }}">
              <input type="hidden" name="response_type" value="code">
              <input type="hidden" name="redirect_uri" value="{{ gl_uri_redirect }}">
              <button type="submit" class="btn btn-gitlab btn-block" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-gitlab"></i>
                Sign in with <b>GitLab</b>
              </button>
            </form>
          </div>

          <div class="text-center">
            <form action="{{ meetup_uri_identity }}" method="GET">
              <input type="hidden" name="client_id" value="{{ meetup_client_id }}">
              <input type="hidden" name="response_type" value="code">
              <input type="hidden" name="redirect_uri" value="{{ meetup_uri_redirect }}">
              <button type="submit" class="btn btn-meetup btn-block" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-meetup"></i>
                Sign in with <b>Meetup</b>
              </button>
            </form>
          </div>

        </div>
        <div class="modal-footer">
          <p class="text-muted">We will store your token for your analysis. You can revoke the use at any time</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END Modal for login -->



  <!-- BEGIN Container for alerts -->
  <div class="container">
    <div id="alert-container" style="display: none;">
    </div>
  </div>
  <!-- END Container for alerts-->


  <!-- BEGIN Container for modals -->
  <div class="modal" tabindex="-1" role="dialog" id="modal-alert">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <!-- END Container for modals-->


  <!-- BEGIN Toast list for notifications-->
  <div aria-live="polite" aria-atomic="true" style="position: fixed; width: 100%; bottom: 50px; z-index: 9999;">
    <!-- Position it -->
    <div id="toast-container">

    </div>
  </div>
  <!-- END Toast list for notifications-->

  <div class="site-content">
  {% block content %}
  {% endblock %}
  </div>


  <footer class="container-fluid footer-position bg-dark text-white pt-3">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="full-footer"><a href="https://bitergia.com" target="_blank"><img class="mx-auto d-block" src="/static/img/bitergia-w-logo-s.png" style="float:left" alt="Bitergia"></a></div>
            <p style="display:inline-block">Copyright &copy; 2019 <a href="https://bitergia.com">Bitergium SLL.</a> and its
              contributors.</p>
            <p class="full-footer">Some Rights Reserved.</p>
        </div>
        <div class="col-md-4">
          <p class="text-justify full-footer">Unless otherwise stated, this work is licensed under a <strong>Creative
              Commons Attribution-ShareAlike 4.0 Unported License</strong>. Cauldron and the Cauldron logo are
            trademarks of <a href="https://bitergia.com" target="_blank">Bitergium SLL.</a> in the European Union and/or
            other jurisdictions. All other trademarks are the property of their respective holders.</p>
        </div>
        <div class="col-md-4">
          <p class="full-footer">Made with <abbr title="love">&hearts;</abbr> and <strong>free, open source software</strong>:</p>
          <p class="full-footer"><a href="https://chaoss.github.io/grimoirelab/" target="_blank"><img src="/static/img/wizard-y.svg"
                height="24" alt=""> GrimoireLab</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/common.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/smart-nav.js' %}"></script>

  {% block javascript %}
  {% endblock %}
</body>

</html>
