{% extends "base.html" %}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-md-center h-45">
    <div class="col-md-8 error-box shadow border p-5 mb-5 bg-white rounded text-center ">
      <h1 class="text-danger">{{title}}</h1>
      <h3 class="p-3">{{description}}</h3>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
