<div class="table-responsive">
  <table id="repos-table" class="row-border repos-table" style="width:100%">
    <thead>
      <tr>
        <th scope="col" class="text-muted">Status</th>
        <th scope="col">Data source</th>
        <th scope="col">Last refresh</th>
        <th scope="col">Duration</th>
        <th scope="col"></th>
        {% if editable %}
        <th scope="col"></th>
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
    {% for repo in repositories %}
      <tr class="repo-entry" id="repo-{{repo.id}}" data-backend="{{repo.backend}}" data-status="">
        <td class="repo-status">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </td>
        <td class="repo-url">
          {% if repo.backend == "github" %}
          <i class="fab fa-github"></i>
          {% elif repo.backend == "gitlab" %}
          <i class="fab fa-gitlab"></i>
          {% elif repo.backend == "meetup" %}
          <i class="fab fa-meetup"></i>
          {% else %}
          <i class="fab fa-git-square"></i>
          {% endif %}
          {{ repo.url }}
        </td>
        <td>
          <i class="fas fa-calendar-alt text-muted"></i>
          <span class="repo-last-update" style="font-size: small;">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </span>
        </td>
        <td>
          <i class="fas fa-stopwatch text-muted"></i>
          <span class="repo-duration" style="font-size: small;">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#logModal" data-repo="{{repo.id}}">
            <i class="fa fa-info"></i> <small>Logs</small>
          </button>
        </td>
        {% if editable %}
        <td>
            <button type="button" class="btn btn-sm btn-outline-danger btn-delete" data-repo="{{repo.id}}">
              <i class="fa fa-trash-alt"></i> <small>Remove</small>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-dark btn-reanalyze" data-repo="{{repo.id}}">
              <i class="fa fa-sync"></i> <small>Refresh</small>
            </button>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% if repositories|length == 0 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <div class="row">
    <div class="col-sm-2">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="col-sm-10">
      <p><strong>Start adding data sources!</strong></p>
      <p>Projects are defined by set of different data sources. Add them with the tools in the side bar.</p>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
  </div>
</div>
{% endif %}
